p#notice = notice

p
  strong Name:
  = @profile.name

= link_to 'Edit', edit_profile_path(@profile), class:'btn btn-primary btn-empty'
' |
= link_to 'Back', profiles_path, class:'btn btn-primary btn-empty' 
