.row.container-fluid

h1 Listing items

= render "categoria_row"
- @items.each do |item|
	= render "item_row", item: item, order_item: @order_item


br
-if can? :create,Item
  = link_to 'New Item', new_item_path, class:'btn btn-primary btn-empty'

